name: car_workshop_web
description: Web & Android version of Mechanic Workshop
publish_to: 'none'

environment:
  sdk: '>=3.10.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.1.1
  flutter_form_builder: ^8.3.0
  cupertino_icons: ^1.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/
<<<<<<< HEAD
name: Build Flutter Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build_apk:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: 'stable'

      - name: Flutter pub get
        run: flutter pub get

      - name: Build Debug APK
        run: flutter build apk --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-debug-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
=======
name: car_workshop_web
description: Web & Android version of Mechanic Workshop
publish_to: 'none' # لأن المشروع شخصي، مش للنشر على pub.dev

environment:
  sdk: '>=3.10.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

  # حفظ البيانات مؤقتًا على الجهاز
  shared_preferences: ^2.1.1

  # إذا كنت عايز تستخدم Dropdown و Forms
  flutter_form_builder: ^8.3.0
  cupertino_icons: ^1.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true



>>>>>>> 9c0439b (Update pubspec.yaml for Flutter 3.38+ and Android/Web)
